@use '../abstract/functions' as functions;
@use '../abstract/mixin' as mixin;

.game-board {
  display: grid;
  gap: functions.px-to-rem(8);
  width: 100%;
  max-width: functions.px-to-rem(700);
  margin: 0 auto;

  // 4x4 = 16 cards
  &--16 {
    grid-template-columns: repeat(4, 1fr);
  }

  // 4x6 = 24 cards
  &--24 {
    grid-template-columns: repeat(6, 1fr);

    @include mixin.respond(md) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  // 6x6 = 36 cards
  &--36 {
    grid-template-columns: repeat(6, 1fr);
    max-width: functions.px-to-rem(800);
  }
}
