@use "../abstract/mixin" as mixin;
@use "../abstract/functions" as functions;

.card {
  background-color: black;
  padding: functions.px-to-rem(16);
  border-radius: functions.px-to-rem(8);

  @include mixin.respond(sm) {
    font-size: functions.px-to-rem(10);
  }

  @include mixin.flex-center;
  @include mixin.fade-in(2.5s, ease-out);

  &__title {
    color: green;
  }

  &__text {
    color: white;

    &--highlight {
      color: yellow;
    }

    &:hover {
      background-color: gray;
    }
  }
}
