@use "sass:map";
@use "./variables" as vars;

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




@mixin respond($size) {
        @media screen and (max-width: map.get(vars.$breakpoints, $size)) {
      @content;
    }
}