// @for $i from 1 through 4 {
//     .text-#{$i} {
//         font-size: #{$i * 8}px;
//     }
// }

$sizes:(
    small: 12px,
    medium: 16px,
    large: 24px 
);

@each $name, $size in $sizes {
    .text-#{$name} {
        font-size: $size;
    }
}